In [ ]:
#Baby steps print
print("Welcome to assignment1")

In [ ]:
#Addition
num1=10
print("num1 =",num1)
num2=30
print("num2 =",num2)
print("Add =",num1+num2)

In [ ]:
#BMI weight
num=float(input("Enter the BMI index:"))
if(num<=18.5):
    print("underweight")
elif(num<=24.9):
    print("normal weight")
elif(num<=29.9):
     print("Over weight")
elif(num<=34.9):
    print("obesity class 1")
elif(num<=39.9):
    print("obesity class 2")
elif(num>40.0):
     print("obesity class 3")

In [ ]:
#Extra Assignment-level-1-python
print("Hope AI")

In [ ]:
name = input("Enter your institute name?:")

In [1]:
s= ["Enter your name: Rammiya","Enter your age: 35","Enteryour school name:Maharishi","Enter your degree:B.TECH"]
for x in s:
    print(x)

Enter your name: Rammiya
Enter your age: 35
Enteryour school name:Maharishi
Enter your degree:B.TECH

In [2]:
#Addition 
a=43
print("a=",a)
b=34
print("b=",b)
c=a+b
print("c=",c)

a= 43
b= 34
c= 77

In [3]:
#subtraction
a=43
print("a=",a)
b=34
print("b=",b)
c=a-b
print("c=",c)

a= 43
b= 34
c= 9

In [4]:
#Multiplication
a=63
print("a=",a)
b=97
print("b=",b)
c=a*b
print("c=",c)

a= 63
b= 97
c= 6111

In [6]:
#Division
a=76
print("a=",a)
b=31
print("b=",b)
c=a/b
print(c)

a= 76
b= 31
2.4516129032258065

In [8]:
#Modulo
a=76
print("a=",a)
b=31
print("b=",b)
c=a%b
print(c)

a= 76
b= 31
14

In [9]:
#Power
a=4
print("a=",a)
b=4
print("b=",b)
c=a**b
print(c)

a= 4
b= 4
256

In [4]:
#Extra Assignment-2-Level-2-python
y=range(0,19)
for z in y:
    print(z)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [9]:
#print range of 10 to 20
Lists = [10,11,12,13,14,15,16,17,18,19,20]
for a in Lists:
    print(a,end=' ')

10 11 12 13 14 15 16 17 18 19 20

In [20]:
Lists = [10, 20, 14, 55, 43, 87, 76] 
print(Lists)
print("No of items in the list:")
print(len(Lists))
#for a in Lists:
   # print(a,end=' ')
    #print("Number of item in the a")
    #print(len(Lists))

[10, 20, 14, 55, 43, 87, 76]
No of items in the list
7

In [23]:
s="Artificial Intelligence" 
print(s)
lists = list(s)
for z in lists:
    print(z)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [26]:
# Print this mixered datatype using Tuples 
Tuple=(1, 'Welcome', 2, 'Hope') 
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [27]:
Tuples = ((0, 1, 2, 3), ('python', 'HOPE')) 
print(Tuples)

((0, 1, 2, 3), ('python', 'HOPE'))

In [39]:
# print Odd Numbers in the list 
Lists = [20,10,16,19,25,1,276,188]
print(Lists)
for z in Lists:
    if(z%2!=0):
        print(z,"is odd number")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd number
25 is odd number
1 is odd number

In [40]:
Lists = [20,10,16,19,25,1,276,188]
print(Lists)
for z in Lists:
    if(z%2==0):
        print(z,"is Even number")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is Even number
10 is Even number
16 is Even number
276 is Even number
188 is Even number